#hero{
    min-height: 30vh;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(224,234,250,1) 10%, rgba(232,241,255,1) 100%);
}
.hero__wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 10rem;
}
.hero__left{
    margin: 1rem;
}
.search__wrapper{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color:var(--light-color); 
    border-radius: 1.1rem;
    box-shadow: 1px 4px 6px 1px var(--blue-color);
    margin-top: 10rem;
    z-index: 10;

}
.search__form{
    display: grid;
    grid-template-columns: repeat(2,3fr) 0.4fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
}
.search__form h3{
    grid-column: span 3;
}
.search__form .search__group{
    grid-column: span 3;
}
.search__item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    border: 0.1rem solid var(--border-input-color);
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}
.form__container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding: 0 2rem;
}
.hero__right{
    display: grid;
    place-items: center;
}
.hero__right img{
    z-index: 10;
    position: relative;
}
.hero__right--item1{
    border: 0.1rem solid rebeccapurple;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    width: 50rem;
    height: 50rem;
    animation: rotateIcon 30000ms infinite linear;
}

.hero__right--item2{
    border: 0.1rem solid rebeccapurple;
    border-radius: 50%;
    z-index: 8;
    position: absolute;
    width: 40rem;
    height: 40rem;
    animation: rotateIcon 20000ms infinite linear;
}
.hero__right--item3{
    border: 0.1rem solid rebeccapurple;
    border-radius: 50%;
    z-index: 7;
    position: absolute;
    width: 30rem;
    height: 30rem;
    animation: rotateIcon 20000ms infinite linear;
}
.hero__right--item1 i{
    margin-left: 12rem;
}
.hero__right--item2 i{
    margin-top: 7rem;
}
.hero__right--item3 i{
    margin-left: 21rem;
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
  }